*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-bg: linear-gradient(to top,#010329,#000005);
    --color-glass:linear-gradient(to left,#142544,#1a9092);
    --color-water:linear-gradient(to left,#142544,#1b6d6e);
}

body{
    background-color: #FFF5E4;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Change the direction to column */
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
	  color: #FF9494;
	  font-family: courier;
}

#thankyou {
    width: 100%; /* Ensure it spans the full width */
    text-align: center; /* Keep the text centered */
    margin-top: 20px; /* Add some space at the top */
    z-index: 1000; /* Ensure it's above other elements if needed */
    position: relative; /* Adjust based on layout needs */
	  margin-bottom: 400px;
	  font-size: 50px;
}

img {
  height: 100px;
  width: auto;
  padding: 10px;
}

.invitation-card {
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  
.invitation-card h1 {
    color: #FF9494;
    margin-bottom: 20px;
  }
  
.invitation-card p {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
.invitation-card strong {
    color: #4682b4;
  }
  
.invitation-card span {
    color: #2e8b57;
    font-weight: bold;
  }
  
/* Add some decorative elements*/
.invitation-card::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #FF9494
}

.invitation-card::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FF9494;
}